@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'),
    url('../font/daxregular.ttf') format('truetype') /* Safari, Android, iOS */
}
body {
    font-family: 'Open Sans', serif;
    background-image: url("../navigation/home_bg.png");
}
.container{
    height: 100%;
    align-content: center;
    width: 100%;
}

.card{
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
    margin: 50px 0px;
}

.social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #FFCC00;
}

.social_icon span:hover{
    color: white;
    cursor: pointer;
}

.card-header h3{
    color: white;
}

.social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span{

    background-color: #FFCC00;
    color: black;
    border:0 !important;
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;

}

.remember{
    color: white;
}

.remember input
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login-btn{
    color: black;
    background-color: #FFCC00 !important;
    width: 100px;
    margin-top: 20px;
}
.search-btn{
    color: black;
    background-color: #FFCC00 !important;

}
.space {
    margin : 10px;
}
.login-btn:hover, .search-btn:hover{
    color: black;
    background-color: white;
}

.links{
    color: white;
}
.nav-background {
    background-color: black;
}

.nav-link {
    color: #FFCC00 !important;
}
.nav-group {
    width: 100%;
}
.links a{
    margin-left: 4px;
}
.search-box{
    background-color: white;
    width: 98%;
    border:solid 1px #f9f9f9;
    border-radius:2px;
    max-height: 50%;
    display: inline-block;
}
.search-result-title{
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    width: 98%;
    float: left;
    text-align: left;
    padding-left: 30px;
    color: #0A1B28;
}
.search-settings-box{
    z-index: 2;
    background-color: white;
    width: 98%;
    border:solid 1px #f9f9f9;
    border-radius:2px;
    display: inline-block;
    margin-top: 10px;
    position: relative;
}
.search-settings-box.params{
    width: 100%;
}
.search-result-header{
    color: #0A1B28;
    font-weight: bold;
}
.find-carpooling{
    text-align: left;
    color: #FFC312;
    padding-left: 30px;
    font-size: 16px;
    font-weight: bold;
}

.make-departure{
    text-align: left;
    color: #0A1B28;
    padding-left: 30px;
    font-size: 16px;
    font-weight: bold;
}
.make-departure a {
    color: #0A1B28;
}
.make-departure a:hover {
    color: #FFC312;
    text-decoration: none;
}

.header-label{
    text-align: left;
    padding-left: 30px;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    padding-top: 10px;
    padding-right: 10px;
}
.connexion-label a {
    color: #FFFFFF;
}
.connexion-label a:hover {
    color: #FFC312;
    text-decoration: none;
}

.inscription-label a {
    color: #FFC312;
}
.inscription-label a:hover {
    color: #FFFFFF;
    text-decoration: none;
}
.header-band{
    width: 100%;
    background-color: #0A1B28;
    height: 40px;
}

.card-header button:hover button:focus {
    border: 0px;
}
.right{
    float: right;
}
.overlay{
    z-index: 100;
    position: absolute;
}
.dashbord_container{
    display: block;
    overflow:hidden;
    height:100vh;
    width:100%
}